.Component2{
    display:flex;
    flex-direction:row;
    padding:0px 100px;
}
.Component2-Heading-Text{
  font-size: 70px;
  
  
}
.Component2-Description-Text{
 width: 70%;
}
.Component-Main-Image
{
  background-position: center;
  animation-name: test;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-direction: linear;
  animation-timing-function:ease;
  height:100%;
  background-size: cover;
  width:70%;
}

@keyframes test {
  0% {
    background-image: url('./Mask\ group.png');
  }
  20% {
    background-image: url('./Vector4.png');
  }
  40% {
    background-image: url('./Vector5.png');
  }
  60% {
    background-image: url('./Vector6.png');
  }
  80% {
    background-image: url('./Vector7.png');
  }
  100% {
    background-image: url('./Mask\ group.png');
  }
}


svg {
    fill: currentColor;
    height: auto;
    max-width: 66vmin;
    transform-origin: center;
    width: 66%;
    left:125px;
  }

  .Component2-Box1{
    width: 50%;
    padding:0px 50px;
  }

  .Component2-Box2{
    width: 50%;
  }
  .Component2-Vector{
    left: 600px;
  }

  @media only screen and (max-width:900px) {
    .Component2{
        flex-direction:column-reverse;
        padding:0px 0px;
    }
    .Component-Main-Image{
      background-position: center;
      height:450px;
      width:80%;
    }
    .Component2-Box1{
        width: auto;
        padding:0px 10px;
      }
      .Image-Dish{
        display: none;
      }
    
      .Component2-Box2{
        width: 100%;
      }
      .Component2-Vector{
        left: 0px;
      }
      .Component2-Heading-Text{
        font-size: 40px;
      }
      .Component2-Description-Text{
        width: 100%;
       }
  }

  @media only screen and (max-width:600px) {
    .Component2-Vector{
      display: none;
    }
    svg {
      left:20px;
    }
  }

  @media only screen and (max-width:1100px) and (min-width:900px){
    .Component2-Vector{
      display: none;
    }
   
  }
